/**
 * @name NAAT Custom
 * @author You
 * @description NAAT base theme
 */

@import url("https://puckzxz.github.io/NotAnotherAnimeTheme/css/source.css");

:root {
  --background-image: url("https://raw.githubusercontent.com/NGCUNUT/discord-theme/main/EKd1750827517850-640-0.jpg");
  --background-shading: 100%;
  --background-position: center;
  --background-size: cover;
  --background-repeat: no-repeat;
  --background-overlay: rgba(0,0,0,0.45);
  --background-blur: 0px;
}
