/**
 * @name NAAT Custom Background
 * @author You
 * @description NAAT base with custom background image
 */

/* ===== NAAT 필수 ===== */
@import url("https://puckzxz.github.io/NotAnotherAnimeTheme/css/source.css");

/* ===== 여기만 수정하면 됨 ===== */
:root {
    --background-image: url("https://raw.githubusercontent.com/NGCUNUT/discord-theme/main/EKd1750827517850-640-0.jpg");
    --background-shading: 100%;
    --background-position: center;
    --background-size: cover;
    --background-repeat: no-repeat;

    /* 가독성 조절 */
    --background-overlay: rgba(0, 0, 0, 0.45);

    /* 블러 (원하면 0px) */
    --background-blur: 0px;
}
